<div class="container">
 <div class="col-md-6 col-md-offset-3">
    <h1>Add Product</h1>
        <form #productForm="ngForm" (ngSubmit)="addProduct()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="product.name" class="form-control" name="name" id="name" required>
          </div>
          
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="product.description" class="form-control" name="description" id="description" required>
          </div>

          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" min=0 [(ngModel)]="product.quantity" class="form-control" name="quantity" id="quantity" required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
        </form>
    </div>
</div>
